{% extends 'blog/base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="page-header">
	<a href="{% url 'blog.views.post_new' %}" class="top-menu">
		<span class="glyphicon glyphicon-plus"></span>
	</a>
</div>
{% endif %}
{% for post in posts %}
<div class="post">
	<p>{{post.author}} 於 {{post.published_date}} 發表</p>
	<h3><a href="{% url 'blog.views.post_detail' pk=post.pk %}" style="color:#333;">{{post.title}}</a></h3>
	<p>{{ post.text|linebreaksbr|truncatechars:150 }}</p>
	<br>
	<br>
</div>
{% endfor %}
{% endblock %}